.message_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    margin-top: 15px;
}

#message_title{
    color: #FA5003;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#messages_container{
    width: 80%;
    max-height: 400px;
    overflow-y: auto;
    /* border: 2px solid #fff; */
    border-radius: 8px;
    padding: 10px;
    margin: auto;
}

.message_card{
    background-color: #252525;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.p-text span{
    font-weight: 600;
    color: #FA5003;
}

@media screen and (max-width: 750px){
    #messages_container{
        width: 95%;
    }

    .message_card{
    background-color: #252525;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 10px;
}
}