@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* ESTILIZAÇÃO GLOBAL */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
    background-color: #161616;
    margin: 0;
    padding: 0;
    background-size:cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.title{
    color: #fff;
    /* border: #f0f solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 20px;
  
}

.sub-title{
  color: #fff;
  font-size: 1.5em;
  font-weight: 900;
  margin: 25px 0 10px 0;
}

.p-text{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: justify;
  /* border: #fff solid 2px; */
  font-size: 18px;
  line-height: 1.6;
  
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: #FA5003 2px solid; */
}

.footer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .p-text {
 
  font-size: 20px;
  font-weight: bold;
}